<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NHC Hospital</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

 <div class="overlay"></div>
    <div class="dialog-box">
        <h2>Unsupported Device</h2>
        <p>Please open this website on a desktop for the best experience.</p>
    </div>
<body>
  <nav>
    <div class="nav">
      <a id="topup"></a>

      <p>Contact Us <i class="fa-solid fa-phone"></i>+91-1234567890 || <i class="fa-solid fa-envelope"></i>nhchospital21@gmail.com</p>
    </div>
    <div class="pagepad">
      <p class="logo"><i class="fa-solid fa-hospital" style="color: rgb(131, 194, 194);"></i>NHC<font color="black"> Hospital</font>
      </p>
      <div class="pages">
        <a href="/">HOME</a>
        <a href="/doctors">DOCTERS</a>
        <a href="/appoinment_form">APPOINMENT FORM</a>
        <a href="/services">SERVICES</a>
        <a href="/contact_us">CONTACT US</a>
        <a href="/about_us">ABOUT US</a>

      </div>
    </div>
  </nav>
