<%- include("./layouts/header.ejs") %>
<section>
  <br>
  <hr>
  <div class="img_text">
    <div style="background-image: url('https://avdaddenavarhospital.com/wp-content/uploads/2021/03/stroke.jpg');">
      <p><br><br><br>ENJOY YOYR LIFE <br>WE WILL CARE FOR YOU...</P>
    </div>
  </div>
  <div class="content">
    <p>
      <font size="5">
        Welcome to NHC medical center..
      </font>
    </p>
    <br><br>
    <div>
      <p>
        <font size="6">
          <b>We Have Medicare Plan Options for You!</b>
        </font>
      </p>
      <br>
    </div>
    <div class="para">
      <p>NHC Hospital, Bhopal, is a 300 bedded Super Specialty Hospital is born of a dream. A dream that the people of
        Bhopal and Central India get the best healthcare at affordable prices. A dream that the best infrastructure
        and technology be provided to doctors so that they can serve patients to best of their capability. A dream
        that our people need not flee to metros for medical needs. This conviction inspired us to make a world class
        hospital in the heart of the country where the best infrastructure meets the best doctors to deliver cutting
        edge technology with care.</p>
    </div>
  </div>
  <div class="overviewhd">
    <p>Clinical Excellence</p>
  </div>
  <div class="overview">
    <div>
      <img src="images/hp.jpg" alt="opp's ! Image not found"><br>
      4.2M+ <br>
      <small>Patients Treated every year</small>
    </div>
    <div>
      <img src="images/hp2.jpg" alt="opp's ! Image not found"><br>
      22 <br>
      <small>19 States-of-art-Hospitals</small>
    </div>
    <div>
      <img src="images/hp3.jpg" alt="opp's ! Image not found"><br>
      18,000+<br>
      <small>Associates</small>
    </div>
  </div>
</section>
<%- include("./layouts/footer.ejs") %>