<%- include("../layouts/header.ejs") %>

<section>
    
    <div class="toppanel">
        <p><a href="/">Home</a> / About Us</p>
        <div>
            <h1> About Us</h1>
        </div>
        <div class="finddoc">
            <a href="/doctors"><h3>Find a Docter</h3></a>
            <a href="/appoinment_form"><h3>Take an Appoinment</h3></a>
        </div>
    </div>
    <div class="aboutmid">
        <div>
            <h3>Welcome to NHC Hospital</h3><br>
            <h2>Best Medical & Health care Needs to Our Patients</h2><br>
            <p>NHC Hospital, Bhopal, is a 300 bedded Super Specialty Hospital is born of a dream. A dream that the people of Bhopal and Central India get the best healthcare at affordable prices. A dream that the best infrastructure and technology be provided to doctors so that they can serve patients to best of their capability. A dream that our people need not flee to metros for medical needs. This conviction inspired us to make a world class hospital in the heart of the country where the best infrastructure meets the best doctors to deliver cutting edge technology with care.</p>
            <hr>
        </div>
        <div>
            <img src="  images/hos.jpg" alt="Opp's! Image not found.">
        </div>
        </div>
        
        <div class="addb">
            <h2>Address</h2>
            <h1>National Health Center </h1>
            <p>NHC hospital , Bhopal ,</p><br>
            <p><i class="fa-solid fa-location-crosshairs"></i>Benad, Bharatpur Raj 302020
                Contact No - 0123456789
                Email: nhchospital17@.com</p>
        </div>


</section>
<%- include("../layouts/footer.ejs") %>
