<%- include("../layouts/header.ejs") %>

<section class="appointed">
    <div class="success-container">
        <div class="success-message">
            <h1>Successful Appointed!</h1>
            <p>Thank you for registering. Your appoinment was successful.</p>
            <a href="/" class="home-button">Go to Home</a>
        </div>
    </div>
</section>
