<%- include("../layouts/header.ejs") %>
<br><hr>
        <div class="toppanel">
            <p><a href="/">Home</a>/ Services</p>
            <div>
                <h1> Patients Supports</h1>
            </div>
            <div class="finddoc">
                <a href="http://localhost:3000/doctors"><h3>Find a Docter</h3></a>
                <a href="http://localhost:3000/appoinment_form"><h3>Take an Appoinment</h3></a>
            </div>
        </div>
        <div class="serp">
            <p>Remedy Hospitals Emergency and trauma wing is available round the clock to tackle any emergency situation. Well-equipped with the latest medical infrastructure, top class specialists from different branches of medicine.</p>
        </div>
        <div class="services">
            <div>
                <i class="fa-solid fa-truck-medical"></i>
                <p>Emergency Services</p>
            </div>
            <div>
                <i class="fa-solid fa-pills"></i>
                <p>General Medicine</p>
            </div>
            <div>
                <i class="fa-solid fa-plus"></i>
                <p>General Surgery</p>
            </div>
            <div>
                <i class="fa-solid fa-bone"></i>
                <p>Orthopaedics</p>
            </div>
            
        </div>
        <div class="services">
            <div>
                <i class="fa-solid fa-tooth"></i>
                <p>Dental</p>
            </div>
            <div>
                <i class="fa-solid fa-heart-pulse"></i>
                <p>Cardiology</p>
            </div>
            <div>
                <i class="fa-solid fa-flask"></i>
                <p>Pathlogy</p>
            </div>
            <div>
                <i class="fa-solid fa-apple-whole"></i>
                <p>Dieteics</p>
            </div>
            
        </div>
        <div class="services">
            <div>
                <i class="fa-solid fa-brain"></i>
                <p>Neuro Surgery</p>
            </div>
            <div>
                <i class="fa-solid fa-person-running"></i>
                <p>Fitness & wellness</p>
            </div>
            <div>
                <i class="fa-solid fa-eye"></i>
                <p>Ophthmology</p>
            </div>
            <div>
                <i class="fa-solid fa-syringe"></i>
                <p>Critical Care & Anaesthesia</p>
            </div>
            
        </div>
        <div class="services">
            <div>
                <i class="fa-solid fa-heart-broken"></i>
                <p>Phyaiotherapy</p>
            </div>
            <div>
                <i class="fa-solid fa-pills"></i>
                <p>General Medicine</p>
            </div>
            <div>
                <i class="fa-solid fa-plus"></i>
                <p>General Surgery</p>
            </div>
            <div>
                <i class="fa-solid fa-bone"></i>
                <p>Orthopaedics</p>
            </div>
            
        </div>
<%- include("../layouts/footer.ejs") %>
